---
layout: default
---

<p style="text-align: center;">Welcome to my little site!</p>
<p style="text-align: center;">I'm CxRedix, I do random stuff :)</p>

<h1>Blogs</h1>

<div class="posts">
    {% for post in site.posts %}
    <article class="post">

        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

        <div style="text-align: center;">
            {% if post.tags and post.tags.size > 0 %}
                <div class="tags_container">
                    {% for tag in post.tags %}
                        <a class="tag_content">{{ tag | capitalize }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            <p class="post_metadata">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>

        <div class="entry" style="text-align: center;">
            {{ post.excerpt }}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="continue">More</a>
    </article>
    {% endfor %}
</div>
