
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #f8f8f2;
$darkGray: #f8f8f2;
$gray: #666;
$lightGray: #f8f8f2;
$white: #fff;

// DRACULA THEME COLORS
$dracula-background: #282a36;
$dracula-darker-background: #16151d;

$dracula-white: #f8f8f2;
$dracula-dark-white: #bcbab6;



// ==== site ====
$color-masthead-border-bottom: $dracula-dark-white;

$color-body-content: $dracula-white;

$color-site-name-content: $dracula-white;

$color-site-description-content: $dracula-dark-white;

$color-wrapper-footer-background: $dracula-darker-background;

// ==== nav ====
$color-nav-normal-link: $dracula-white;

// ==== post ====
$color-post-border-bottom: $lightGray;




// ==== common ====
$color-hover-link: $blue;

$color-moz-selection-content: $dracula-white;
$color-moz-selection-background: $dracula-white;

$color-selection-content: $dracula-white;
$color-selection-background: $dracula-white;

$color-h4-content: $dracula-dark-white;

// ==== blockquotes ====
$color-blockquote-border-left: $dracula-dark-white;
$color-blockquote-content: $dracula-dark-white;

// ==== meta ====
$color-date-content: $dracula-dark-white;
$color-metadata-content: $dracula-dark-white;




// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

$nav-font-family: $helveticaNeue;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
